.patient-content {
  margin-top: 68px;
  min-height: calc(100vh - 68px - 300px);
}

@media (max-width: 768px) {
  .patient-content {
    margin-top: 60px;
    min-height: calc(100vh - 60px - 200px);
  }
}